FIREBASE_PROJECT_ID=radio-conexion-e924e
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/TU_SCRIPT/exec
GOOGLE_GROUP_EMAIL=boletin@radioconexionweb.com
# Usa una cadena aleatoria larga. Guárdala también como propiedad de script
# SUSCRIPTORES_SHARED_SECRET en Google Apps Script.
APPS_SCRIPT_SHARED_SECRET=CAMBIA_ESTE_SECRETO
